In [1]:
import sqlalchemy 
sqlalchemy.__version__

'1.4.23'

In [2]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://phuongdaingo:0505@localhost:3306/customerintention', echo=True)

In [3]:
from sqlalchemy import Column, DateTime, String, Integer, ForeignKey, func
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base
  
Base = declarative_base()
 
class Department(Base):
    __tablename__ = 'department'
    id = Column(Integer, primary_key=True)
    name = Column(String)
 
class Employee(Base):
    __tablename__ = 'employee'
    id = Column(Integer, primary_key=True)
    name = Column(String(16))
    # Use default=func.now() to set the default hiring time
    # of an Employee to be the current time when an
    # Employee record was created
    hired_on = Column(DateTime, default=func.now())
    department_id = Column(Integer, ForeignKey('department.id'))
    # Use cascade='delete,all' to propagate the deletion of a Department onto its Employees
    department = relationship(
        Department,
        backref=backref('employees',
                         uselist=True,
                         cascade='delete,all'))
 
 
#from sqlalchemy import create_engine
#engine = create_engine('sqlite:///orm_in_detail.sqlite')
 
from sqlalchemy.orm import sessionmaker
session = sessionmaker()
session.configure(bind=engine)
Base.metadata.create_all(engine)

In [4]:
d = Department(name="IT")
emp1 = Employee(name="John", department=d)
s = session()
s.add(d)
s.add(emp1)
s.commit() 
s.delete(d)  # Deleting the department also deletes all of its employees.
s.commit()
s.query(Employee).all()

[<__main__.Employee at 0x196321738b0>,
 <__main__.Employee at 0x19632141340>,
 <__main__.Employee at 0x196321414f0>,
 <__main__.Employee at 0x19632141c10>]

In [5]:
emp2 = Employee(name="Marry")                                                                                                                   
emp2.hired_on
s.add(emp2)
emp2.hired_on
s.commit()
emp2.hired_on

datetime.datetime(2021, 9, 6, 1, 55, 31)

In [6]:
print (func.now())

now()

In [7]:
from sqlalchemy import select
rs = s.execute(select([func.now()]))
rs.fetchone()

(datetime.datetime(2021, 9, 6, 1, 55, 32),)

In [8]:
for department in s.query(Department).all():
    s.delete(department)
s.commit()
s.query(Department).count()

0

In [9]:
s.query(Employee).count()

2

In [10]:
IT = Department(name="IT")
Financial = Department(name="Financial")
john = Employee(name="John", department=IT)
marry = Employee(name="marry", department=Financial)
s.add(IT)
s.add(Financial)
s.add(john)
s.add(marry)
s.commit()

In [11]:
cathy = Employee(name="Cathy", department=Financial)
s.add(cathy)
s.commit()

In [12]:
s.query(Employee).filter(Employee.name.startswith("C")).one().name

'Cathy'

In [13]:
s.query(Employee).join(Employee.department).filter(Employee.name.startswith('C'), Department.name == 'Financial').all()[0].name

'Cathy'

In [14]:
from datetime import datetime
# Find all employees who will be hired in the future
s.query(Employee).filter(Employee.hired_on > func.now()).count()

0

In [15]:
# Find all employees who have been hired in the past
s.query(Employee).filter(Employee.hired_on < func.now()).count()

5

In [20]:
import os
 
from sqlalchemy import Column, DateTime, String, Integer, ForeignKey, func
from sqlalchemy.orm import relationship, backref
from sqlalchemy.ext.declarative import declarative_base
 
Base = declarative_base()
class Department(Base):
    __tablename__ = 'department'
    id = Column(Integer, primary_key=True)
    name = Column(String(16))
    employees = relationship(
        'Employee',
        secondary='department_employee_link'
    )
 
class Employee(Base):
    __tablename__ = 'employee'
    id = Column(Integer, primary_key=True)
    name = Column(String(16))
    hired_on = Column(
        DateTime,
        default=func.now())
    departments = relationship(
        Department,
        secondary='department_employee_link'
    )
 
class DepartmentEmployeeLink(Base):
    __tablename__ = 'department_employee_link'
    department_id = Column(Integer, ForeignKey('department.id'), primary_key=True)
    employee_id = Column(Integer, ForeignKey('employee.id'), primary_key=True)

In [21]:

from sqlalchemy import create_engine
engine = create_engine('mysql+mysqldb://phuongdaingo:0505@localhost:3306/customerintention', echo=True)

from sqlalchemy.orm import sessionmaker
session = sessionmaker()
session.configure(bind=engine)
Base.metadata.create_all(engine)

s = session()
IT = Department(name="IT")
Financial = Department(name="Financial")
cathy = Employee(name="Cathy")
marry = Employee(name="Marry")
john = Employee(name="John")
cathy.departments.append(Financial)
Financial.employees.append(marry)
john.departments.append(IT)
s.add(IT)
s.add(Financial)
s.add(cathy)
s.add(marry)
s.add(john)
s.commit()

2021-09-05 22:00:42,880 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-09-05 22:00:42,881 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-09-05 22:00:42,886 INFO sqlalchemy.engine.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-09-05 22:00:42,887 INFO sqlalchemy.engine.Engine [generated in 0.00125s] ()
2021-09-05 22:00:42,895 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2021-09-05 22:00:42,897 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-09-05 22:00:42,910 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-05 22:00:42,913 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2021-09-05 22:00:42,914 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ('customerintention', 'department')
2021-09-05 22:00:42,917 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2021-09-05 22:00:42,918 INFO sqlalchemy.engine.Engine [cached since 0.005094s ago] ('customerintention', 'employee')
2021-09-05 22:00:42,921 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %s AND table_name = %s
2021-09-05 22:00:42,922 INFO sqlalchemy.engine.Engine [cached since 0.009174s ago] ('customerintention', 'department_employee_link')
2021-09-05 22:00:42,929 INFO sqlalchemy.engine.Engine
CREATE TABLE department (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(16),
	PRIMARY KEY (id)
)


2021-09-05 22:00:42,931 INFO sqlalchemy.engine.Engine [no key 0.00196s] ()
2021-09-05 22:00:43,002 INFO sqlalchemy.engine.Engine
CREATE TABLE employee (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(16),
	hired_on DATETIME,
	PRIMARY KEY (id)
)


2021-09-05 22:00:43,004 INFO sqlalchemy.engine.Engine [no key 0.00272s] ()
2021-09-05 22:00:43,070 INFO sqlalchemy.engine.Engine
CREATE TABLE department_employee_link (
	department_id INTEGER NOT NULL,
	employee_id INTEGER NOT NULL,
	PRIMARY KEY (department_id, employee_id),
	FOREIGN KEY(department_id) REFERENCES department (id),
	FOREIGN KEY(employee_id) REFERENCES employee (id)
)


2021-09-05 22:00:43,072 INFO sqlalchemy.engine.Engine [no key 0.00215s] ()
2021-09-05 22:00:43,146 INFO sqlalchemy.engine.Engine COMMIT
2021-09-05 22:00:43,186 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-05 22:00:43,191 INFO sqlalchemy.engine.Engine INSERT INTO department (name) VALUES (%s)
2021-09-05 22:00:43,195 INFO sqlalchemy.engine.Engine [generated in 0.00507s] ('IT',)
2021-09-05 22:00:43,210 INFO sqlalchemy.engine.Engine INSERT INTO department (name) VALUES (%s)
2021-09-05 22:00:43,212 INFO sqlalchemy.engine.Engine [cached since 0.02174s ago] ('Financial',)
2021-09-05 22:00:43,220 INFO sqlalchemy.engine.Engine INSERT INTO employee (name, hired_on) VALUES (%s, now())
2021-09-05 22:00:43,223 INFO sqlalchemy.engine.Engine [generated in 0.00282s] ('Marry',)
2021-09-05 22:00:43,239 INFO sqlalchemy.engine.Engine INSERT INTO employee (name, hired_on) VALUES (%s, now())
2021-09-05 22:00:43,241 INFO sqlalchemy.engine.Engine [cached since 0.02169s ago] ('Cathy',)
2021-09-05 22:00:43,248 INFO sqlalchemy.engine.Engine INSERT INTO employee (name, hired_on) VALUES (%s, now())
2021-09-05 22:00:43,249 INFO sqlalchemy.engine.Engine [cached since 0.02998s ago] ('John',)
2021-09-05 22:00:43,260 INFO sqlalchemy.engine.Engine INSERT INTO department_employee_link (department_id, employee_id) VALUES (%s, %s)
2021-09-05 22:00:43,266 INFO sqlalchemy.engine.Engine [generated in 0.00587s] (2, 1)
2021-09-05 22:00:43,275 INFO sqlalchemy.engine.Engine INSERT INTO department_employee_link (department_id, employee_id) VALUES (%s, %s)
2021-09-05 22:00:43,278 INFO sqlalchemy.engine.Engine [generated in 0.00265s] ((2, 2), (1, 3))
2021-09-05 22:00:43,287 INFO sqlalchemy.engine.Engine COMMIT

C:\Users\User\AppData\Local\Temp/ipykernel_9396/90294661.py:10: SAWarning: relationship 'Employee.departments' will copy column employee.id to column department_employee_link.employee_id, which conflicts with relationship(s): 'Department.employees' (copies employee.id to department_employee_link.employee_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="employees"' to the 'Employee.departments' relationship.
  IT = Department(name="IT")
C:\Users\User\AppData\Local\Temp/ipykernel_9396/90294661.py:10: SAWarning: relationship 'Employee.departments' will copy column department.id to column department_employee_link.department_id, which conflicts with relationship(s): 'Department.employees' (copies department.id to department_employee_link.department_id). If this is not the intention, consider if these relationships should be linked with back_populates, or if viewonly=True should be applied to one or more if they are read-only. For the less common case that foreign key constraints are partially overlapping, the orm.foreign() annotation can be used to isolate the columns that should be written towards.   To silence this warning, add the parameter 'overlaps="employees"' to the 'Employee.departments' relationship.
  IT = Department(name="IT")

In [22]:
cathy.departments[0].name

2021-09-05 22:04:21,228 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-09-05 22:04:21,231 INFO sqlalchemy.engine.Engine SELECT employee.id AS employee_id, employee.name AS employee_name, employee.hired_on AS employee_hired_on
FROM employee
WHERE employee.id = %s
2021-09-05 22:04:21,231 INFO sqlalchemy.engine.Engine [generated in 0.00102s] (2,)
2021-09-05 22:04:21,235 INFO sqlalchemy.engine.Engine SELECT department.id AS department_id, department.name AS department_name
FROM department, department_employee_link
WHERE %s = department_employee_link.employee_id AND department.id = department_employee_link.department_id
2021-09-05 22:04:21,235 INFO sqlalchemy.engine.Engine [generated in 0.00060s] (2,)

'Financial'

In [23]:
marry.departments[0].name

2021-09-05 22:04:22,531 INFO sqlalchemy.engine.Engine SELECT employee.id AS employee_id, employee.name AS employee_name, employee.hired_on AS employee_hired_on
FROM employee
WHERE employee.id = %s
2021-09-05 22:04:22,532 INFO sqlalchemy.engine.Engine [cached since 1.301s ago] (1,)
2021-09-05 22:04:22,535 INFO sqlalchemy.engine.Engine SELECT department.id AS department_id, department.name AS department_name
FROM department, department_employee_link
WHERE %s = department_employee_link.employee_id AND department.id = department_employee_link.department_id
2021-09-05 22:04:22,535 INFO sqlalchemy.engine.Engine [cached since 1.3s ago] (1,)

'Financial'

In [24]:
john.departments[0].name

2021-09-05 22:04:24,148 INFO sqlalchemy.engine.Engine SELECT employee.id AS employee_id, employee.name AS employee_name, employee.hired_on AS employee_hired_on
FROM employee
WHERE employee.id = %s
2021-09-05 22:04:24,148 INFO sqlalchemy.engine.Engine [cached since 2.918s ago] (3,)
2021-09-05 22:04:24,150 INFO sqlalchemy.engine.Engine SELECT department.id AS department_id, department.name AS department_name
FROM department, department_employee_link
WHERE %s = department_employee_link.employee_id AND department.id = department_employee_link.department_id
2021-09-05 22:04:24,151 INFO sqlalchemy.engine.Engine [cached since 2.916s ago] (3,)

'IT'

In [25]:
IT.employees[0].name

2021-09-05 22:04:26,734 INFO sqlalchemy.engine.Engine SELECT employee.id AS employee_id, employee.name AS employee_name, employee.hired_on AS employee_hired_on
FROM employee, department_employee_link
WHERE %s = department_employee_link.department_id AND employee.id = department_employee_link.employee_id
2021-09-05 22:04:26,734 INFO sqlalchemy.engine.Engine [generated in 0.00087s] (1,)

'John'

In [26]:
s.query(Employee).filter(Employee.departments.any(Department.name == 'IT')).all()[0].name

2021-09-05 22:04:26,903 INFO sqlalchemy.engine.Engine SELECT employee.id AS employee_id, employee.name AS employee_name, employee.hired_on AS employee_hired_on
FROM employee
WHERE EXISTS (SELECT 1
FROM department_employee_link, department
WHERE employee.id = department_employee_link.employee_id AND department.id = department_employee_link.department_id AND department.name = %s)
2021-09-05 22:04:26,904 INFO sqlalchemy.engine.Engine [generated in 0.00076s] ('IT',)

'John'

In [27]:
s.query(Department).filter(Department.employees.any(Employee.name == 'John')).all()[0].name

2021-09-05 22:04:27,084 INFO sqlalchemy.engine.Engine SELECT department.id AS department_id, department.name AS department_name
FROM department
WHERE EXISTS (SELECT 1
FROM department_employee_link, employee
WHERE department.id = department_employee_link.department_id AND employee.id = department_employee_link.employee_id AND employee.name = %s)
2021-09-05 22:04:27,085 INFO sqlalchemy.engine.Engine [generated in 0.00084s] ('John',)

'IT'